spring:
  application:
    name: payment-service

  data:
    mongodb:
      uri: mongodb://localhost:27017/paymentsdb

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8080
