services:
  mongo:
    image: mongo:6
    container_name: mongo6
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: paymentsdb
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq312
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  payment-service:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: payment-service
    depends_on:
      - mongo
      - rabbitmq
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/paymentsdb
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest

volumes:
  mongo_data:
  rabbitmq_data: